.App {
  text-align: center;
}

.container {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(14, 13, 13, 0.849), rgba(0, 0, 0, 0.815));
}
h1 {
  color: aliceblue;
  background-color: dimgrey;
  margin: 0;
  padding: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-shadow: -5px -5px 5px rgb(50, 37, 37);
}
.count {
  color: aliceblue;

  margin-bottom: 50px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  text-shadow: -5px -5px 5px rgb(120, 103, 103);
  font-size: 20px;
  font-weight: 600;
}
textarea {
  background-color: aliceblue;
  font-size: 20px;
  height: 200px;
  width: 100%;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
textarea:focus {
  box-shadow: -2px -2px 3px;
  outline: none;
}
textarea:placeholder-shown {
  font-size: 20px;
  font-weight: 500;
  background-color: aliceblue;
  text-transform: capitalize;
}
button {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 500;
  font-size: 18px;
  margin-top: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
button:hover {
  box-shadow: -2px -2px 3px;
}
#btn:hover {
  color: aliceblue;
  background-color: darkgreen;
}
#btn1:hover,
.okbtn:hover {
  color: aliceblue;
  background-color: crimson;
}
.pop-up {
  width: 38%;
  height: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.01);
  background-color: aliceblue;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}
.pop-up-open {
  visibility: visible;
  top: 71%;
  transform: translate(-50%, -50%) scale(1.2);
  box-shadow: 10px 10px 20px;
}
.pop-up h2 {
  margin-top: 15px;
  text-align: center;
  margin: 15px 0;
  color: red;
}
.pop-up img {
  width: 50px;

  border-radius: 100%;

  position: relative;

  transform: scale(1.2);
}
